* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html {
  font-size: 20px;
  background-color: #000;
}
h1 {
  font-size: 3em;
  font-weight: 900;
}
h2 {
  font-size: 2em;
  padding-bottom: 10px;
  font-weight: 600;
}
h3 {
  font-size: 1.33em;
  font-weight: 400;
  padding-bottom: 5px;
}
h4 {
  font-size: .89em;
  font-weight: 200;
}
p {
  line-height: 1.5em;
}
footer p, header p {
  font-size: .75em;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
td {
  line-height: 1.3em;
  color: #f3ac33;
}
i {
  transition: color .2s ease-in-out;
}
i.fontawesome-contact:hover {
  color: #636363;
}
header {
  /*box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);*/
}

#instagram-window, #text-content {
  /*background: #fff;*/
  /*background: linear-gradient(#222, #222);*/
  background: linear-gradient(#222, #222);
  box-shadow: 0 5px 10px 0 rgba(0,0,0,0.3);
  /*border: 2px solid #fff;*/
}
#contact-expander, #overlay-button, #social {
  background: linear-gradient(#222, #222);
  box-shadow: 0 5px 10px 0 rgba(0,0,0,0.3);
  transition: box-shadow .1s ease-in-out;
}
#contact-expander, .social-icon, .fontawesome-contact, #instagram-window {
  color: #fff;
}
#contact-expander:hover, #overlay-button:hover {
  /*background-color: #000;*/
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3);
  /*animation-name: move-text;*/
  /*animation-duration: 1s;*/
  /*animation-iteration-count: infinite;*/
}

.text-gray, #card {
  color: #fff;
}
.bg-light-gray {
  background-color: #000;
}
.overlay-heading, .table-label {
  color: #fff;
}
#overlay-button {
  color: #fff;
}
.bg-gray, #card {
  background-color: #000;
}
#foot {
  background: #000;
  background: linear-gradient(#222, #222);
  color: #fff;
}
.bg-dark-gray {
  background-color: #fff;
}

/*@keyframes move-text {*/
  /*0% {*/
    /*background: linear-gradient(#222, #222);*/
  /*}*/
  /*50% {*/
    /*background: linear-gradient(#222, #222);*/
  /*}*/
  /*100% {*/
    /*background: linear-gradient(#222, #222);*/
  /*}*/
/*}*/
#app-container {
  background-color: #000;
}

.no-line-height {
  line-height: 0.5em;
}

.ta-center {
  text-align: center;
}

.nav-bar {
  padding: 0 20px;
}

.logo {
  /*animation: App-logo-spin infinite 30s linear;*/
  height: 150px;
  z-index: 10;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/*@keyframes App-logo-spin {*/
  /*from { transform: rotate(0deg); }*/
  /*to { transform: rotate(360deg); }*/
/*}*/

.flex-c {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#contact-expander {
  text-align: center;
  padding: 10px 0;
  border-radius: 8px;
  margin: 10px 0;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#overlay {
  background-color: rgba(0,0,0,0.8);
  color: #fff;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 10px;
  /*z-index: 10;*/
  /*display: none;*/
  display: flex;
  opacity: 0;
  z-index: -1;
  justify-content: center;
  align-items: center;
  transition: opacity .2s ease-in-out;
}
tr {
  line-height: 2;
}
.table-label {
  padding-right: 15px;
  padding-bottom: 15px;
  /*margin-bottom:10px;*/
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.overlay-heading {
  padding: 10px 0;
  margin-bottom: 10px;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

}
#card {
  /*background-color: #fff;*/
  padding: 0px 10px;
  border-radius: 8px;
  border: 4px solid #fff;
  transform: translateY(-10px);
  transition: transform .2s ease-in-out;
}
#overlay-button {
  /*position: absolute;*/
  /*bottom: 30px;*/
  /*left: 0;*/
  /*right: 0;*/
  border-radius: 8px;
  margin: 20px 0;
  text-align: center;
  padding: 15px 20px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.w-100 {
  width: 100%;
}
.w-50 {
  width: 50%;
}
.w-33 {
  width: 33.333333333333334%;
}

.w-main {
  width: 61.8%;
}
.w-side {
  width: 38.2%;
}
.d-inline-block {
  display: inline-block;
}
.d-block {
  display: block;
}

.sm-text {
  font-size: 1em;
}
.md-text {
  font-size: 1em;
}
.lg-text {
  font-size: 1em;
}
.vert-pad-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}
.vert-pad-20 {
  padding-top: 10px;
  padding-bottom: 10px;
}
.vert-padding-30 {
  padding-top: 30px;
  padding-bottom: 30px;
}
.hor-pad-10 {
  padding-left: 10px;
  padding-right: 10px;
}
.hor-pad-20 {
  padding-left: 10px;
  padding-right: 10px;
}
.vert-margin {
  margin-top: 30px;
  margin-bottom: 30px;
}
.hor-margin-20 {
  margin-left: 20px;
  margin-right: 20px;
}
.r-margin {
  margin-right: 30px;
}
.margin-zero-auto {
  margin: 0 auto;
}
.text-white {
  color: #fff;
}
.text-light-gray {
  color: #d8d8d8;
}
.text-medium-gray {
  color: #000 !important;
}
.t-align-left {
  text-align: left;
}
.vert-align-top {
  vertical-align: top;
}
.vert-align-middle {
  vertical-align: middle;
}
.b-rad-8{
  border-radius: 8px;
}

#parent-content {
  padding: 30px 0;
}

#instagram-window {
  /*display: flex;*/
  /*justify-content: center;*/
  /*align-items: center;*/

  border-radius: 8px;
}
.wave {
  width: 100%;
  transform: translateY(2px);
}

/*.footer-element {*/
  /*display: inline-block;*/
  /*width: 50%;*/
  /*padding: 10px 5px;*/
  /*vertical-align: middle;*/
/*}*/


.social-icon {
  font-size: 3em !important;
}

.social-container {
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
  padding: 15px 0;
  margin: 0;
}
.pipe {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.info-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #bcbbbb;
  border-radius: 8px;
  padding: 10px;
}
.contact-info {
  font-weight: 600;
}
.info-bar p {
  display: inline-block;
  padding: 0 10px;
}
.t-align-center {
  text-align: center;
}
/* DEV STYLES */
/* DEV STYLES */
/* DEV STYLES */
/* DEV STYLES */
/* DEV STYLES */

@media (min-width: 320px) {
  html {
    font-size: 18px;
  }
  .brand-container {
    margin-top: 40px;
    margin-bottom: 30px;
  }
  .logo {
  }
  .hor-container-margin {
    /*width: 90%;*/
    margin-left: 10px;
    margin-right: 10px;
  }
  .r-margin {
    margin-right: 0;
  }
  .vert-margin {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .hidden-mobile {
    display: none;
  }
  .w-main {
    width: 100%;
  }
  #parent-content {
    padding: 0 0 30px 0;
  }
  .contact-container {
    text-align: center;
  }
  .contact-info-group {
    display: inline-block;
    width: 33.33333333334%;
    vertical-align: top;
  }
  .contact-info-window-container {
    display: none;
  }
  /*#info-window-label {*/
    /*position: absolute;*/
    /*top: -64px;*/
    /*left: 50%;*/
    /*right: 0;*/
    /*transform: translateX(-50%);*/
    /*color: #919191;*/
    /*text-align: center;*/
    /*z-index: 1;*/
  /*}*/

  #inner-content {
    padding: 30px 0 10px 0 !important;
  }

  #text-content {
    padding: 10px;
    border-radius: 8px;
  }
  #text-content div div:first-child {
    padding-bottom: 30px;
  }
  #text-content p {
    margin-bottom: 1em;
  }
  #text-content p:last-child {
    margin-bottom: 0;
  }
  #social {
    flex-wrap: wrap;
    padding: 0;
    border-radius: 8px;
  }
  #social div {
    width: 25%;
    text-align: center;
    padding: 10px 0;
  }
  .pipe {
    display: none;
  }

  #card {
    padding: 0px 10px;
    border-radius: 8px;
  }

  #foot {
    padding: 10px 0;
  }
  #foot a {
    color: #333;
  }
  .footer-element {
    /*display: block;*/
    width: 100%;
    padding: 0;
    /*padding-bottom: 10px;*/
    vertical-align: middle;
  }

}

@media (min-width: 600px) {
  .brand-container {
    margin-top: 40px;
    margin-bottom: 30px;
  }
  .logo {

  }
  .hor-container-margin {
    /*width: 90%;*/
    margin-left: 20px;
    margin-right: 20px;
  }
  .r-margin {
    margin-right: 0;
  }
  .vert-margin {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .hidden-mobile {
    display: none;
  }
  .w-main {
    width: 100%;
  }
  .content-container {
    width: 580px;
    margin: 0 auto;
  }

  .contact-container {
    text-align: left;
  }
  .contact-info-group {
    display: inline-block;
    width: 18%;
    vertical-align: middle;
  }
  .contact-info-window-container {
    width: 46%;
    display: inline-block;
  }

  #inner-content {
    padding: 30px 0 10px 0 !important;
    cursor: default;
  }
  #text-content {
    padding: 20px;
  }

  .social-container {
    text-align: left;
  }
  .social-icon, .fontawesome-contact {
    font-size: 3em !important;
  }
  #social {
    flex-wrap: nowrap;
    padding: 20px;
  }
  #social div {
    width: auto;
    text-align: left;
    padding: 0;
  }
  .pipe {
    display: block;
  }
  #card {
    padding: 10px 25px;
    border-radius: 8px;
    font-size: 1.25em;
  }
  #contact-expander {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
  }
  .contact-info-group {
    display: inline-block;
    width: 18%;
    vertical-align: middle;
  }
  .contact-info-window-container {
    position: relative;
  }
  .contact-info-window-container #info-window {
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #bcbbbb;
    color: #fff444;
    padding: 5px;
    position: absolute;
    top: -40px;
    left: 0;
    right: 0;
    bottom: -31px;
    word-wrap: break-word;
  }

  .window-item {
    transition: opacity .4s ease-in-out;
    opacity: 0 !important;
  }
  .fade-in {
    opacity: 1 !important;
  }
  #foot {
    padding: 0;
  }
  .footer-element {
    display: inline-block;
    width: 50%;
    padding-top: 10px;
    padding-bottom: 10px;
    vertical-align: middle;
  }
}

@media (min-width: 900px) {
  .social-icon {
    transition: color .2s ease-in-out, transform .2s ease-in-out !important;
  }
  .social-icon:hover {
    color: #000 !important;
    /*transform: scale(1.05) !important;*/
    transform: translateY(-2px) !important;
  }
  #contact-expander {
    margin: 20px auto;
    cursor: pointer; /* to counteract the cursor setting above */
    /*transition: background-color .2s cubic-bezier(0.46, 0.03, 0.52, 0.96), color .2s cubic-bezier(0.46, 0.03, 0.52, 0.96);*/
  }

  #card {
    padding: 15px 30px;
    border-radius: 8px;
    font-size: 1.5em;
  }
  .brand-container {
    margin-top: 40px;
    margin-bottom: 20px;
  }
  .logo {
  }
  .hor-container-margin {
    /*width: 90%;*/
    margin-left: 20px;
    margin-right: 20px;
  }
  .r-margin {
    margin-right: 20px;
  }
  .vert-margin {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .hidden-mobile {
    display: inline-block;
  }
  .w-main {
    width: 61.8%;
  }
  /*.w-full {*/
    /*width: 800px;*/
  /*}*/
  .content-container {
    width: 800px;
    margin: 0 auto;
  }

  .contact-container {
    text-align: left;
  }
  .contact-info-group {
    display: inline-block;
    width: 18%;
    vertical-align: middle;
  }
  .contact-info-window-container {
    width: 46%;
    display: inline-block;
  }
  .social-container {
    text-align: left;
  }
  #inner-content {
    padding: 20px 0 !important;
    cursor: default;
  }

  #text-content {
    margin-right: 20px;
  }
  #text-content div div:first-child {
    padding-bottom: 20px;
  }

  .contact-info-group {
    display: inline-block;
    width: 18%;
    vertical-align: middle;
  }

  .contact-info-window-container #info-window {
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #bcbbbb;
    color: #fff444;
    padding: 5px;
    position: absolute;
    top: -50px;
    left: 0;
    right: 0;
    bottom: -41px;
    word-wrap: break-word;
  }

  #foot {
    padding: 0;
  }
  .footer-element {
    display: inline-block;
    width: 50%;
    padding-top: 10px;
    padding-bottom: 10px;
    vertical-align: middle;
  }

}

@media (min-width: 1200px) {
  .social-icon {
    transition: color .2s ease-in-out, transform .2s ease-in-out !important;
  }
  .social-icon:hover {
    /*transform: scale(1.05) !important;*/
    transform: translateY(-2px) !important;
  }
  #contact-expander {
    margin: 30px auto;
  }
  #card {
    padding: 15px 30px;
    border-radius: 8px;
  }
  .brand-container {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .logo {
  }
  .hor-container-margin {
    /*width: 90%;*/
    margin-left: auto;
    margin-right: auto;
  }
  .r-margin {
    margin-right: 30px;
  }
  .vert-margin {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .hidden-mobile {
    display: inline-block;
  }
  .w-main {
    width: 61.8%;
  }
  /*.w-full {*/
    /*width: 1000px;*/
  /*}*/
  .content-container {
    width: 1000px;
    margin: 0 auto;
  }

  .contact-container {
    text-align: left;
  }
  .contact-info-group {
    display: inline-block;
    width: 18%;
    vertical-align: middle;
  }
  .contact-info-window-container {
    width: 46%;
    display: inline-block;
  }
  #parent-content {
    padding: 0 0 20px 0;
  }
  #inner-content {
    padding: 30px 0 !important;
    cursor: default;
  }

  #text-content {
    margin-right: 30px;
  }
  #text-content div div:first-child {
    padding-bottom: 30px;
  }
  .social-container {
    text-align: left;
  }

  .contact-info-group {
    display: inline-block;
    width: 18%;
    vertical-align: middle;
  }

  .contact-info-window-container #info-window {
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #bcbbbb;
    color: #fff444;
    padding: 5px;
    position: absolute;
    top: -60px;
    left: 0;
    right: 0;
    bottom: -51px;
    word-wrap: break-word;
  }
  #foot {
    padding: 0;
  }
  .footer-element {
    display: inline-block;
    width: 50%;
    padding-top: 10px;
    padding-bottom: 10px;
    vertical-align: middle;
  }
}

@media (min-width: 1800px) {
  .social-icon {
    transition: color .2s ease-in-out, transform .2s ease-in-out !important;
  }
  .social-icon:hover {
    /*transform: scale(1.05) !important;*/
    transform: translateY(-2px) !important;
  }
  #card {
    padding: 15px 30px;
    border-radius: 8px;
  }
  .brand-container {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .logo {
  }
  .hor-container-margin {
    /*width: 90%;*/
    margin-left: auto;
    margin-right: auto;
  }
  .r-margin {
    margin-right: 50px;
  }
  .vert-margin {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .hidden-mobile {
    display: inline-block;
  }
  .w-main {
    width: 61.8%;
  }
  .content-container {
    width: 1200px;
    margin: 0 auto;
  }
  #inner-content {
    cursor: default;
  }
  .contact-container {
    text-align: left;
  }
  .contact-info-group {
    display: inline-block;
    width: 18%;
    vertical-align: middle;
  }
  .contact-info-window-container {
    width: 46%;
    display: inline-block;
  }
  .social-container {
    text-align: left;
  }

  .contact-info-group {
    display: inline-block;
    width: 18%;
    vertical-align: middle;
  }

  .contact-info-window-container #info-window {
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #bcbbbb;
    color: #fff444;
    padding: 5px;
    position: absolute;
    top: -70px;
    left: 0;
    right: 0;
    bottom: -61px;
    word-wrap: break-word;
  }
  #foot {
    padding: 0;
  }
  .footer-element {
    display: inline-block;
    width: 50%;
    padding-top: 10px;
    padding-bottom: 10px;
    vertical-align: middle;
  }

}